image: docker-reg.devops.xiaohongshu.com/shequ/sns-sdk-ci:latest

stages:
  - build

build:java:
  stage: build
  script:
    - skr -p ${CI_PROJECT_NAME} -c ${CI_COMMIT_REF_NAME}
  only:
    - branches
    - /^\d+\.\d+\.\d+$/
